In [2]:
from dotenv import load_dotenv
import pandas
import os
import psycopg2 as ps
import requests
import json
import pandas as pd
import urllib3
pd.set_option('display.max_columns', None)
load_dotenv()

print(os.environ["DB_HOST"])
conn = ps.connect(
    host=os.environ["DB_HOST"],
    port=os.environ["DB_PORT"],
    dbname=os.environ["DB_NAME"],
    user=os.environ["DB_USER"],
    # password=os.environ["DB_PASS"]
    )


def cubesql(query):
    return pandas.read_sql(query, conn)


print(" successfully connected")

localhost
 successfully connected

In [9]:
!pip install jupysql duckdb-engine --quiet

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
locust 2.9.0 requires pyzmq<23.0.0,>=22.2.1, but you have pyzmq 25.0.2 which is incompatible.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python3.9 -m pip install --upgrade pip

In [6]:
query = """
SELECT * FROM ( VALUES (1), (2), (3) ) AS t(n)
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

   n
0  1
1  2
2  3

In [7]:
query = """
SELECT AVG(n) FROM (VALUES (1), (2), (3), (4), (1000)) AS t(n);
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

     avg
0  202.0

In [12]:
query = """
WITH series AS (
      SELECT * FROM (VALUES (1), (2), (3)) AS t(n)
  )
  SELECT 
      percentile_cont(0.5) WITHIN GROUP (ORDER BY n)
  FROM
      series;
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

   percentile_cont
0              2.0

In [13]:
query = """
WITH series AS (
      SELECT * FROM (VALUES (1), (2), (3), (4)) AS t(n)
  )
  SELECT 
      percentile_cont(0.5) WITHIN GROUP (ORDER BY n)
  FROM
      series;
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

   percentile_cont
0              2.5

In [14]:
query = """
WITH series AS (
      SELECT * FROM (VALUES (1), (2), (3), (4),(1000)) AS t(n)
  )
  SELECT 
      percentile_cont(0.5) WITHIN GROUP (ORDER BY n)
  FROM
      series;
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

   percentile_cont
0              3.0

In [15]:
query = """
SELECT 
      percentile_cont(0.5) WITHIN GROUP (ORDER BY n) AS median_continuous,
      percentile_disc(0.5) WITHIN GROUP (ORDER BY n) AS median_discrete
  FROM 
      (VALUES (1), (2), (3), (4)) AS t(n);
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

   median_continuous  median_discrete
0                2.5                2

In [19]:
query = """
SELECT 
    percentile_disc(array[0.25, 0.5, 0.75]) WITHIN GROUP (ORDER BY n) AS percentiles 
    FROM 
    (VALUES (1), (2), (3), (4), (10), (20),(1000)) AS t(n);
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

  percentiles
0  [2, 4, 20]

In [22]:
query = """
SELECT 
    min(n),
    max(n),
    percentile_disc(array[0, 1]) WITHIN GROUP (ORDER BY n) AS percentiles 
  FROM 
    (VALUES (1), (2), (3), (4)) AS t(n);
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

   min  max percentiles
0    1    4      [1, 4]

In [23]:
query = """
SELECT * FROM (VALUES ('orange'), ('apple'), ('banana'), ('apple')) AS t(fruit);
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

    fruit
0  orange
1   apple
2  banana
3   apple

In [24]:
query = """
SELECT * 
  FROM (VALUES 
    ('orange'), 
    ('apple'), 
    ('banana'), 
    ('apple'), 
    (null), 
    (null)
  ) AS t(fruit);
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

    fruit
0  orange
1   apple
2  banana
3   apple
4    None
5    None

In [25]:
# COUNT(*): This expression is indifferent to the values. It simply counts rows. The result of this expression is 6.
# COUNT(fruit): This expression counts the values of the fruit column. The result of this expression is 4, meaning it ignores NULL values.

query = """
SELECT 
    COUNT(*) AS count_rows,
    COUNT(fruit) AS count_fruit
  FROM (
    VALUES ('orange'), ('apple'), ('banana'), ('apple'), (null), (null)
  ) AS t(fruit);
"""
response = cubesql(query)
df = pd.DataFrame(response)
df

/var/folders/r9/sb15zqmn7f9197191j5zs39h0000gn/T/ipykernel_95560/1074259.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pandas.read_sql(query, conn)

   count_rows  count_fruit
0           6            4