In [1]:
from dotenv import load_dotenv
import pandas
import os
import psycopg2 as ps
import requests
import json
import pandas as pd
import urllib3
import sqlalchemy

pd.set_option('display.max_columns', None)
load_dotenv()

# print DB_HOST
print(os.environ["DB_HOST"])
print(os.environ["DB_NAME"])
conn = ps.connect(
    host=os.environ["DB_HOST"],
    port=os.environ["DB_PORT"],
    dbname=os.environ["DB_NAME"],
    user=os.environ["DB_USER"],
    # password=os.environ["DB_PASS"]
    )


def sql(query):
    return pandas.read_sql(query, conn)


print(" successfully connected")


sqlalchemy.create_engine("postgresql://luis:@localhost:5432/postgres")

%load_ext sql
%sql postgresql://luis:@localhost:5432/postgres

print(" inline sql successfully connected")

localhost
postgres
 successfully connected
 inline sql successfully connected

In [5]:
%%sql 
SELECT 
    MAX(temperature) 
FROM 
    temperatures
;

*  postgresql://luis:***@localhost:5432/postgres
1 rows affected.

[(27,)]

In [7]:
%%sql
 SELECT 
        city, 
        MAX(temperature) as temperature
    FROM 
        temperatures 
    GROUP BY 
        city

*  postgresql://luis:***@localhost:5432/postgres
2 rows affected.

[('NY', 18), ('LA', 27)]

In [10]:
%%sql
SELECT 
    day,city,temperature,
    MAX(temperature) OVER (PARTITION BY city) AS max_temperature_at_city
FROM 
    temperatures
order by 3

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'NY', 10, 18),
 (datetime.date(2021, 1, 2), 'NY', 12, 18),
 (datetime.date(2021, 1, 3), 'NY', 13, 18),
 (datetime.date(2021, 1, 4), 'NY', 14, 18),
 (datetime.date(2021, 1, 6), 'NY', 15, 18),
 (datetime.date(2021, 1, 7), 'NY', 16, 18),
 (datetime.date(2021, 1, 8), 'NY', 17, 18),
 (datetime.date(2021, 1, 5), 'NY', 18, 18),
 (datetime.date(2021, 1, 3), 'LA', 19, 27),
 (datetime.date(2021, 1, 2), 'LA', 21, 27),
 (datetime.date(2021, 1, 1), 'LA', 22, 27),
 (datetime.date(2021, 1, 4), 'LA', 22, 27),
 (datetime.date(2021, 1, 7), 'LA', 25, 27),
 (datetime.date(2021, 1, 5), 'LA', 25, 27),
 (datetime.date(2021, 1, 6), 'LA', 27, 27),
 (datetime.date(2021, 1, 8), 'LA', 27, 27)]

In [12]:
%%sql
SELECT 
    *,
    temperature - MAX(temperature) OVER (PARTITION BY city) AS diff_from_hottest
FROM 
    temperatures
order by 3

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'NY', 10, -8),
 (datetime.date(2021, 1, 2), 'NY', 12, -6),
 (datetime.date(2021, 1, 3), 'NY', 13, -5),
 (datetime.date(2021, 1, 4), 'NY', 14, -4),
 (datetime.date(2021, 1, 6), 'NY', 15, -3),
 (datetime.date(2021, 1, 7), 'NY', 16, -2),
 (datetime.date(2021, 1, 8), 'NY', 17, -1),
 (datetime.date(2021, 1, 5), 'NY', 18, 0),
 (datetime.date(2021, 1, 3), 'LA', 19, -8),
 (datetime.date(2021, 1, 2), 'LA', 21, -6),
 (datetime.date(2021, 1, 1), 'LA', 22, -5),
 (datetime.date(2021, 1, 4), 'LA', 22, -5),
 (datetime.date(2021, 1, 7), 'LA', 25, -2),
 (datetime.date(2021, 1, 5), 'LA', 25, -2),
 (datetime.date(2021, 1, 6), 'LA', 27, 0),
 (datetime.date(2021, 1, 8), 'LA', 27, 0)]

In [13]:
%%sql
SELECT 
    *,
    EXTRACT('YEAR' from day) as year,
    MAX(temperature) OVER (PARTITION BY EXTRACT('YEAR' from day)) AS max_temperature_in_year
FROM 
    temperatures;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'NY', 10, Decimal('2021'), 27),
 (datetime.date(2021, 1, 2), 'NY', 12, Decimal('2021'), 27),
 (datetime.date(2021, 1, 3), 'NY', 13, Decimal('2021'), 27),
 (datetime.date(2021, 1, 4), 'NY', 14, Decimal('2021'), 27),
 (datetime.date(2021, 1, 5), 'NY', 18, Decimal('2021'), 27),
 (datetime.date(2021, 1, 6), 'NY', 15, Decimal('2021'), 27),
 (datetime.date(2021, 1, 7), 'NY', 16, Decimal('2021'), 27),
 (datetime.date(2021, 1, 8), 'NY', 17, Decimal('2021'), 27),
 (datetime.date(2021, 1, 1), 'LA', 22, Decimal('2021'), 27),
 (datetime.date(2021, 1, 2), 'LA', 21, Decimal('2021'), 27),
 (datetime.date(2021, 1, 3), 'LA', 19, Decimal('2021'), 27),
 (datetime.date(2021, 1, 4), 'LA', 22, Decimal('2021'), 27),
 (datetime.date(2021, 1, 5), 'LA', 25, Decimal('2021'), 27),
 (datetime.date(2021, 1, 6), 'LA', 27, Decimal('2021'), 27),
 (datetime.date(2021, 1, 7), 'LA', 25, Decimal('2021'), 27),
 (datetime.date(2021, 1, 8), 'LA', 27, Decimal('2021'), 27)]

In [20]:

%%sql
-- Partition by multiple expressions
SELECT 
    *,
    EXTRACT('YEAR' from day) as year,
    MAX(temperature) 
      OVER (PARTITION BY city, EXTRACT('YEAR' from day)) AS max_temperature_in_city_at_year
FROM 
    temperatures;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 8), 'LA', 27, Decimal('2021'), 27),
 (datetime.date(2021, 1, 1), 'LA', 22, Decimal('2021'), 27),
 (datetime.date(2021, 1, 2), 'LA', 21, Decimal('2021'), 27),
 (datetime.date(2021, 1, 3), 'LA', 19, Decimal('2021'), 27),
 (datetime.date(2021, 1, 4), 'LA', 22, Decimal('2021'), 27),
 (datetime.date(2021, 1, 5), 'LA', 25, Decimal('2021'), 27),
 (datetime.date(2021, 1, 6), 'LA', 27, Decimal('2021'), 27),
 (datetime.date(2021, 1, 7), 'LA', 25, Decimal('2021'), 27),
 (datetime.date(2021, 1, 1), 'NY', 10, Decimal('2021'), 18),
 (datetime.date(2021, 1, 2), 'NY', 12, Decimal('2021'), 18),
 (datetime.date(2021, 1, 3), 'NY', 13, Decimal('2021'), 18),
 (datetime.date(2021, 1, 4), 'NY', 14, Decimal('2021'), 18),
 (datetime.date(2021, 1, 5), 'NY', 18, Decimal('2021'), 18),
 (datetime.date(2021, 1, 6), 'NY', 15, Decimal('2021'), 18),
 (datetime.date(2021, 1, 7), 'NY', 16, Decimal('2021'), 18),
 (datetime.date(2021, 1, 8), 'NY', 17, Decimal('2021'), 18)]

In [21]:
%%sql
-- Partition by all rows
SELECT 
    *,
    EXTRACT('YEAR' from day) as year,
    MAX(temperature) OVER (PARTITION BY 1) AS max_temperature
FROM 
    temperatures;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'NY', 10, Decimal('2021'), 27),
 (datetime.date(2021, 1, 2), 'NY', 12, Decimal('2021'), 27),
 (datetime.date(2021, 1, 3), 'NY', 13, Decimal('2021'), 27),
 (datetime.date(2021, 1, 4), 'NY', 14, Decimal('2021'), 27),
 (datetime.date(2021, 1, 5), 'NY', 18, Decimal('2021'), 27),
 (datetime.date(2021, 1, 6), 'NY', 15, Decimal('2021'), 27),
 (datetime.date(2021, 1, 7), 'NY', 16, Decimal('2021'), 27),
 (datetime.date(2021, 1, 8), 'NY', 17, Decimal('2021'), 27),
 (datetime.date(2021, 1, 1), 'LA', 22, Decimal('2021'), 27),
 (datetime.date(2021, 1, 2), 'LA', 21, Decimal('2021'), 27),
 (datetime.date(2021, 1, 3), 'LA', 19, Decimal('2021'), 27),
 (datetime.date(2021, 1, 4), 'LA', 22, Decimal('2021'), 27),
 (datetime.date(2021, 1, 5), 'LA', 25, Decimal('2021'), 27),
 (datetime.date(2021, 1, 6), 'LA', 27, Decimal('2021'), 27),
 (datetime.date(2021, 1, 7), 'LA', 25, Decimal('2021'), 27),
 (datetime.date(2021, 1, 8), 'LA', 27, Decimal('2021'), 27)]

In [48]:
%%sql
SELECT 
    *,
    EXTRACT('YEAR' from day) as year,
    MAX(temperature) OVER () AS max_temperature
FROM 
    temperatures;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'NY', 10, Decimal('2021'), 27),
 (datetime.date(2021, 1, 2), 'NY', 12, Decimal('2021'), 27),
 (datetime.date(2021, 1, 3), 'NY', 13, Decimal('2021'), 27),
 (datetime.date(2021, 1, 4), 'NY', 14, Decimal('2021'), 27),
 (datetime.date(2021, 1, 5), 'NY', 18, Decimal('2021'), 27),
 (datetime.date(2021, 1, 6), 'NY', 15, Decimal('2021'), 27),
 (datetime.date(2021, 1, 7), 'NY', 16, Decimal('2021'), 27),
 (datetime.date(2021, 1, 8), 'NY', 17, Decimal('2021'), 27),
 (datetime.date(2021, 1, 1), 'LA', 22, Decimal('2021'), 27),
 (datetime.date(2021, 1, 2), 'LA', 21, Decimal('2021'), 27),
 (datetime.date(2021, 1, 3), 'LA', 19, Decimal('2021'), 27),
 (datetime.date(2021, 1, 4), 'LA', 22, Decimal('2021'), 27),
 (datetime.date(2021, 1, 5), 'LA', 25, Decimal('2021'), 27),
 (datetime.date(2021, 1, 6), 'LA', 27, Decimal('2021'), 27),
 (datetime.date(2021, 1, 7), 'LA', 25, Decimal('2021'), 27),
 (datetime.date(2021, 1, 8), 'LA', 27, Decimal('2021'), 27)]

In [23]:
%%sql
SELECT 
    *,
    MAX(temperature) OVER () AS max_temperature,
    MIN(temperature) OVER () AS min_temperature,
    MAX(temperature) OVER (PARTITION BY city) AS max_temperature_in_city, -- city is provided by row
    MIN(temperature) OVER (PARTITION BY city) AS min_temperature_in_city
FROM 
    temperatures;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 8), 'LA', 27, 27, 10, 27, 19),
 (datetime.date(2021, 1, 1), 'LA', 22, 27, 10, 27, 19),
 (datetime.date(2021, 1, 2), 'LA', 21, 27, 10, 27, 19),
 (datetime.date(2021, 1, 3), 'LA', 19, 27, 10, 27, 19),
 (datetime.date(2021, 1, 4), 'LA', 22, 27, 10, 27, 19),
 (datetime.date(2021, 1, 5), 'LA', 25, 27, 10, 27, 19),
 (datetime.date(2021, 1, 6), 'LA', 27, 27, 10, 27, 19),
 (datetime.date(2021, 1, 7), 'LA', 25, 27, 10, 27, 19),
 (datetime.date(2021, 1, 1), 'NY', 10, 27, 10, 18, 10),
 (datetime.date(2021, 1, 2), 'NY', 12, 27, 10, 18, 10),
 (datetime.date(2021, 1, 3), 'NY', 13, 27, 10, 18, 10),
 (datetime.date(2021, 1, 4), 'NY', 14, 27, 10, 18, 10),
 (datetime.date(2021, 1, 5), 'NY', 18, 27, 10, 18, 10),
 (datetime.date(2021, 1, 6), 'NY', 15, 27, 10, 18, 10),
 (datetime.date(2021, 1, 7), 'NY', 16, 27, 10, 18, 10),
 (datetime.date(2021, 1, 8), 'NY', 17, 27, 10, 18, 10)]

In [24]:
%%sql
SELECT 
    *,
    MAX(temperature) OVER all_rows AS max_temperature,
    MIN(temperature) OVER all_rows AS min_temperature,
    MAX(temperature) OVER city_rows AS max_temperature_in_city,
    MIN(temperature) OVER city_rows AS min_temperature_in_city
FROM 
    temperatures
WINDOW 
    city_rows AS (PARTITION BY city),
    all_rows AS (PARTITION BY 1)
;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 8), 'LA', 27, 27, 10, 27, 19),
 (datetime.date(2021, 1, 1), 'LA', 22, 27, 10, 27, 19),
 (datetime.date(2021, 1, 2), 'LA', 21, 27, 10, 27, 19),
 (datetime.date(2021, 1, 3), 'LA', 19, 27, 10, 27, 19),
 (datetime.date(2021, 1, 4), 'LA', 22, 27, 10, 27, 19),
 (datetime.date(2021, 1, 5), 'LA', 25, 27, 10, 27, 19),
 (datetime.date(2021, 1, 6), 'LA', 27, 27, 10, 27, 19),
 (datetime.date(2021, 1, 7), 'LA', 25, 27, 10, 27, 19),
 (datetime.date(2021, 1, 1), 'NY', 10, 27, 10, 18, 10),
 (datetime.date(2021, 1, 2), 'NY', 12, 27, 10, 18, 10),
 (datetime.date(2021, 1, 3), 'NY', 13, 27, 10, 18, 10),
 (datetime.date(2021, 1, 4), 'NY', 14, 27, 10, 18, 10),
 (datetime.date(2021, 1, 5), 'NY', 18, 27, 10, 18, 10),
 (datetime.date(2021, 1, 6), 'NY', 15, 27, 10, 18, 10),
 (datetime.date(2021, 1, 7), 'NY', 16, 27, 10, 18, 10),
 (datetime.date(2021, 1, 8), 'NY', 17, 27, 10, 18, 10)]

In [25]:
%%sql
SELECT 
  *,
  temperature - MAX(temperature) OVER (PARTITION BY city) AS diff_from_hottest
FROM 
  temperatures;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 8), 'LA', 27, 0),
 (datetime.date(2021, 1, 1), 'LA', 22, -5),
 (datetime.date(2021, 1, 2), 'LA', 21, -6),
 (datetime.date(2021, 1, 3), 'LA', 19, -8),
 (datetime.date(2021, 1, 4), 'LA', 22, -5),
 (datetime.date(2021, 1, 5), 'LA', 25, -2),
 (datetime.date(2021, 1, 6), 'LA', 27, 0),
 (datetime.date(2021, 1, 7), 'LA', 25, -2),
 (datetime.date(2021, 1, 1), 'NY', 10, -8),
 (datetime.date(2021, 1, 2), 'NY', 12, -6),
 (datetime.date(2021, 1, 3), 'NY', 13, -5),
 (datetime.date(2021, 1, 4), 'NY', 14, -4),
 (datetime.date(2021, 1, 5), 'NY', 18, 0),
 (datetime.date(2021, 1, 6), 'NY', 15, -3),
 (datetime.date(2021, 1, 7), 'NY', 16, -2),
 (datetime.date(2021, 1, 8), 'NY', 17, -1)]

In [27]:
%%sql
-- To compare each temperature to the maximum temperature in the same city before that date
SELECT 
  *,
  MAX(temperature) 
    OVER (PARTITION BY city ORDER BY day) AS hottest_day_so_far
FROM 
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, 22),
 (datetime.date(2021, 1, 2), 'LA', 21, 22),
 (datetime.date(2021, 1, 3), 'LA', 19, 22),
 (datetime.date(2021, 1, 4), 'LA', 22, 22),
 (datetime.date(2021, 1, 5), 'LA', 25, 25),
 (datetime.date(2021, 1, 6), 'LA', 27, 27),
 (datetime.date(2021, 1, 7), 'LA', 25, 27),
 (datetime.date(2021, 1, 8), 'LA', 27, 27),
 (datetime.date(2021, 1, 1), 'NY', 10, 10),
 (datetime.date(2021, 1, 2), 'NY', 12, 12),
 (datetime.date(2021, 1, 3), 'NY', 13, 13),
 (datetime.date(2021, 1, 4), 'NY', 14, 14),
 (datetime.date(2021, 1, 5), 'NY', 18, 18),
 (datetime.date(2021, 1, 6), 'NY', 15, 18),
 (datetime.date(2021, 1, 7), 'NY', 16, 18),
 (datetime.date(2021, 1, 8), 'NY', 17, 18)]

In [29]:
%%sql
-- Row frame# https://www.educative.io/courses/practical-data-analysis-with-sql/R1DAWrD9YyL#Row-frame
-- what if we only want to get the hottest temperature in the past 3 days?
SELECT 
  *,
  MAX(temperature) 
    OVER (PARTITION BY city ORDER BY day ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS hottest_day_last_3_days
FROM 
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, 22),
 (datetime.date(2021, 1, 2), 'LA', 21, 22),
 (datetime.date(2021, 1, 3), 'LA', 19, 22),
 (datetime.date(2021, 1, 4), 'LA', 22, 22),
 (datetime.date(2021, 1, 5), 'LA', 25, 25),
 (datetime.date(2021, 1, 6), 'LA', 27, 27),
 (datetime.date(2021, 1, 7), 'LA', 25, 27),
 (datetime.date(2021, 1, 8), 'LA', 27, 27),
 (datetime.date(2021, 1, 1), 'NY', 10, 10),
 (datetime.date(2021, 1, 2), 'NY', 12, 12),
 (datetime.date(2021, 1, 3), 'NY', 13, 13),
 (datetime.date(2021, 1, 4), 'NY', 14, 14),
 (datetime.date(2021, 1, 5), 'NY', 18, 18),
 (datetime.date(2021, 1, 6), 'NY', 15, 18),
 (datetime.date(2021, 1, 7), 'NY', 16, 18),
 (datetime.date(2021, 1, 8), 'NY', 17, 17)]

In [30]:
%%sql
-- If for example, we want to exclude the current row and look at the 3 prior rows instead, we can provide the following frame:
SELECT 
  *,
  MAX(temperature) OVER (
    PARTITION BY city 
    ORDER BY day
    ROWS BETWEEN 3 PRECEDING AND 1 PRECEDING
  ) AS hottest_day_last_3_days
FROM 
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, None),
 (datetime.date(2021, 1, 2), 'LA', 21, 22),
 (datetime.date(2021, 1, 3), 'LA', 19, 22),
 (datetime.date(2021, 1, 4), 'LA', 22, 22),
 (datetime.date(2021, 1, 5), 'LA', 25, 22),
 (datetime.date(2021, 1, 6), 'LA', 27, 25),
 (datetime.date(2021, 1, 7), 'LA', 25, 27),
 (datetime.date(2021, 1, 8), 'LA', 27, 27),
 (datetime.date(2021, 1, 1), 'NY', 10, None),
 (datetime.date(2021, 1, 2), 'NY', 12, 10),
 (datetime.date(2021, 1, 3), 'NY', 13, 12),
 (datetime.date(2021, 1, 4), 'NY', 14, 13),
 (datetime.date(2021, 1, 5), 'NY', 18, 14),
 (datetime.date(2021, 1, 6), 'NY', 15, 18),
 (datetime.date(2021, 1, 7), 'NY', 16, 18),
 (datetime.date(2021, 1, 8), 'NY', 17, 18)]

In [31]:
%%sql
-- we can calculate the hottest temperature for 3 days before and after each row:
SELECT 
  *,
  MAX(temperature) OVER (
    PARTITION BY city 
    ORDER BY day
    ROWS BETWEEN 3 PRECEDING AND 3 FOLLOWING
  ) AS hottest_3_days_before_and_after
FROM 
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, 22),
 (datetime.date(2021, 1, 2), 'LA', 21, 25),
 (datetime.date(2021, 1, 3), 'LA', 19, 27),
 (datetime.date(2021, 1, 4), 'LA', 22, 27),
 (datetime.date(2021, 1, 5), 'LA', 25, 27),
 (datetime.date(2021, 1, 6), 'LA', 27, 27),
 (datetime.date(2021, 1, 7), 'LA', 25, 27),
 (datetime.date(2021, 1, 8), 'LA', 27, 27),
 (datetime.date(2021, 1, 1), 'NY', 10, 14),
 (datetime.date(2021, 1, 2), 'NY', 12, 18),
 (datetime.date(2021, 1, 3), 'NY', 13, 18),
 (datetime.date(2021, 1, 4), 'NY', 14, 18),
 (datetime.date(2021, 1, 5), 'NY', 18, 18),
 (datetime.date(2021, 1, 6), 'NY', 15, 18),
 (datetime.date(2021, 1, 7), 'NY', 16, 18),
 (datetime.date(2021, 1, 8), 'NY', 17, 18)]

In [32]:
%%sql
-- https://www.educative.io/courses/practical-data-analysis-with-sql/gkyL572EAjY#The-LAG-function
-- We can use the LAG window function to find the previous temperature in the same city.
SELECT
  *,
  LAG(temperature) 
    OVER (PARTITION BY city ORDER BY day) as previous_temperature
FROM
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, None),
 (datetime.date(2021, 1, 2), 'LA', 21, 22),
 (datetime.date(2021, 1, 3), 'LA', 19, 21),
 (datetime.date(2021, 1, 4), 'LA', 22, 19),
 (datetime.date(2021, 1, 5), 'LA', 25, 22),
 (datetime.date(2021, 1, 6), 'LA', 27, 25),
 (datetime.date(2021, 1, 7), 'LA', 25, 27),
 (datetime.date(2021, 1, 8), 'LA', 27, 25),
 (datetime.date(2021, 1, 1), 'NY', 10, None),
 (datetime.date(2021, 1, 2), 'NY', 12, 10),
 (datetime.date(2021, 1, 3), 'NY', 13, 12),
 (datetime.date(2021, 1, 4), 'NY', 14, 13),
 (datetime.date(2021, 1, 5), 'NY', 18, 14),
 (datetime.date(2021, 1, 6), 'NY', 15, 18),
 (datetime.date(2021, 1, 7), 'NY', 16, 15),
 (datetime.date(2021, 1, 8), 'NY', 17, 16)]

In [33]:
%%sql
-- If we want to get the temperature difference between each day and the previous day, we can use the following expression:
SELECT
  *,
  temperature - LAG(temperature) OVER (PARTITION BY city ORDER BY day) as temperature_diff
FROM
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, None),
 (datetime.date(2021, 1, 2), 'LA', 21, -1),
 (datetime.date(2021, 1, 3), 'LA', 19, -2),
 (datetime.date(2021, 1, 4), 'LA', 22, 3),
 (datetime.date(2021, 1, 5), 'LA', 25, 3),
 (datetime.date(2021, 1, 6), 'LA', 27, 2),
 (datetime.date(2021, 1, 7), 'LA', 25, -2),
 (datetime.date(2021, 1, 8), 'LA', 27, 2),
 (datetime.date(2021, 1, 1), 'NY', 10, None),
 (datetime.date(2021, 1, 2), 'NY', 12, 2),
 (datetime.date(2021, 1, 3), 'NY', 13, 1),
 (datetime.date(2021, 1, 4), 'NY', 14, 1),
 (datetime.date(2021, 1, 5), 'NY', 18, 4),
 (datetime.date(2021, 1, 6), 'NY', 15, -3),
 (datetime.date(2021, 1, 7), 'NY', 16, 1),
 (datetime.date(2021, 1, 8), 'NY', 17, 1)]

In [35]:
%%sql
-- Consider the following query to find the temperature the next day in the same city:
SELECT
  *,
  LEAD(temperature) OVER (PARTITION BY city ORDER BY day) as next_day_temperature
FROM
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, 21),
 (datetime.date(2021, 1, 2), 'LA', 21, 19),
 (datetime.date(2021, 1, 3), 'LA', 19, 22),
 (datetime.date(2021, 1, 4), 'LA', 22, 25),
 (datetime.date(2021, 1, 5), 'LA', 25, 27),
 (datetime.date(2021, 1, 6), 'LA', 27, 25),
 (datetime.date(2021, 1, 7), 'LA', 25, 27),
 (datetime.date(2021, 1, 8), 'LA', 27, None),
 (datetime.date(2021, 1, 1), 'NY', 10, 12),
 (datetime.date(2021, 1, 2), 'NY', 12, 13),
 (datetime.date(2021, 1, 3), 'NY', 13, 14),
 (datetime.date(2021, 1, 4), 'NY', 14, 18),
 (datetime.date(2021, 1, 5), 'NY', 18, 15),
 (datetime.date(2021, 1, 6), 'NY', 15, 16),
 (datetime.date(2021, 1, 7), 'NY', 16, 17),
 (datetime.date(2021, 1, 8), 'NY', 17, None)]

In [37]:
%%sql
-- Previous and next offset#
-- Consider the following example to find the temperature in the same city, last week:
SELECT
  *,
  LAG(temperature, 7) OVER (PARTITION BY city ORDER BY day) as temperature_last_week
FROM
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, None),
 (datetime.date(2021, 1, 2), 'LA', 21, None),
 (datetime.date(2021, 1, 3), 'LA', 19, None),
 (datetime.date(2021, 1, 4), 'LA', 22, None),
 (datetime.date(2021, 1, 5), 'LA', 25, None),
 (datetime.date(2021, 1, 6), 'LA', 27, None),
 (datetime.date(2021, 1, 7), 'LA', 25, None),
 (datetime.date(2021, 1, 8), 'LA', 27, 22),
 (datetime.date(2021, 1, 1), 'NY', 10, None),
 (datetime.date(2021, 1, 2), 'NY', 12, None),
 (datetime.date(2021, 1, 3), 'NY', 13, None),
 (datetime.date(2021, 1, 4), 'NY', 14, None),
 (datetime.date(2021, 1, 5), 'NY', 18, None),
 (datetime.date(2021, 1, 6), 'NY', 15, None),
 (datetime.date(2021, 1, 7), 'NY', 16, None),
 (datetime.date(2021, 1, 8), 'NY', 17, 10)]

In [39]:
%%sql
-- Here is a fun fact, using negative offsets, we can implement the LAG function using the LEAD function and vice versa. Consider the following expressions to find the temperature of the previous day in each city:
SELECT
  *,

  LAG(temperature, 1) OVER (PARTITION BY city ORDER BY day) as previous_temperature_using_lag,
  LEAD(temperature, -1) OVER (PARTITION BY city ORDER BY day) as previous_temperature_using_lead_with_negavite_offset
FROM
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, None, None),
 (datetime.date(2021, 1, 2), 'LA', 21, 22, 22),
 (datetime.date(2021, 1, 3), 'LA', 19, 21, 21),
 (datetime.date(2021, 1, 4), 'LA', 22, 19, 19),
 (datetime.date(2021, 1, 5), 'LA', 25, 22, 22),
 (datetime.date(2021, 1, 6), 'LA', 27, 25, 25),
 (datetime.date(2021, 1, 7), 'LA', 25, 27, 27),
 (datetime.date(2021, 1, 8), 'LA', 27, 25, 25),
 (datetime.date(2021, 1, 1), 'NY', 10, None, None),
 (datetime.date(2021, 1, 2), 'NY', 12, 10, 10),
 (datetime.date(2021, 1, 3), 'NY', 13, 12, 12),
 (datetime.date(2021, 1, 4), 'NY', 14, 13, 13),
 (datetime.date(2021, 1, 5), 'NY', 18, 14, 14),
 (datetime.date(2021, 1, 6), 'NY', 15, 18, 18),
 (datetime.date(2021, 1, 7), 'NY', 16, 15, 15),
 (datetime.date(2021, 1, 8), 'NY', 17, 16, 16)]

In [41]:
%%sql
-- Handling missing values#
SELECT
  *,
  LAG(temperature, 1, 0) OVER (
    PARTITION BY city 
    ORDER BY day
  ) as previous_temperature
FROM
  temperatures
ORDER BY
  city,
  day;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 1), 'LA', 22, 0),
 (datetime.date(2021, 1, 2), 'LA', 21, 22),
 (datetime.date(2021, 1, 3), 'LA', 19, 21),
 (datetime.date(2021, 1, 4), 'LA', 22, 19),
 (datetime.date(2021, 1, 5), 'LA', 25, 22),
 (datetime.date(2021, 1, 6), 'LA', 27, 25),
 (datetime.date(2021, 1, 7), 'LA', 25, 27),
 (datetime.date(2021, 1, 8), 'LA', 27, 25),
 (datetime.date(2021, 1, 1), 'NY', 10, 0),
 (datetime.date(2021, 1, 2), 'NY', 12, 10),
 (datetime.date(2021, 1, 3), 'NY', 13, 12),
 (datetime.date(2021, 1, 4), 'NY', 14, 13),
 (datetime.date(2021, 1, 5), 'NY', 18, 14),
 (datetime.date(2021, 1, 6), 'NY', 15, 18),
 (datetime.date(2021, 1, 7), 'NY', 16, 15),
 (datetime.date(2021, 1, 8), 'NY', 17, 16)]

In [42]:
%%sql
-- Row numbers#
SELECT
  *,
  ROW_NUMBER() OVER (PARTITION BY city ORDER BY temperature) AS rn
FROM
  temperatures
ORDER BY
  city,
  rn;

*  postgresql://luis:***@localhost:5432/postgres
16 rows affected.

[(datetime.date(2021, 1, 3), 'LA', 19, 1),
 (datetime.date(2021, 1, 2), 'LA', 21, 2),
 (datetime.date(2021, 1, 1), 'LA', 22, 3),
 (datetime.date(2021, 1, 4), 'LA', 22, 4),
 (datetime.date(2021, 1, 7), 'LA', 25, 5),
 (datetime.date(2021, 1, 5), 'LA', 25, 6),
 (datetime.date(2021, 1, 8), 'LA', 27, 7),
 (datetime.date(2021, 1, 6), 'LA', 27, 8),
 (datetime.date(2021, 1, 1), 'NY', 10, 1),
 (datetime.date(2021, 1, 2), 'NY', 12, 2),
 (datetime.date(2021, 1, 3), 'NY', 13, 3),
 (datetime.date(2021, 1, 4), 'NY', 14, 4),
 (datetime.date(2021, 1, 6), 'NY', 15, 5),
 (datetime.date(2021, 1, 7), 'NY', 16, 6),
 (datetime.date(2021, 1, 8), 'NY', 17, 7),
 (datetime.date(2021, 1, 5), 'NY', 18, 8)]

In [43]:
%%sql
-- Let's try to write a similar query for just LA, but this time we'll rank the rows from hottest to coolest:
SELECT
  *,
  ROW_NUMBER() OVER (PARTITION BY city ORDER BY temperature desc) AS rn
FROM
  temperatures
WHERE
  city = 'LA'
ORDER BY
  rn;

*  postgresql://luis:***@localhost:5432/postgres
8 rows affected.

[(datetime.date(2021, 1, 6), 'LA', 27, 1),
 (datetime.date(2021, 1, 8), 'LA', 27, 2),
 (datetime.date(2021, 1, 5), 'LA', 25, 3),
 (datetime.date(2021, 1, 7), 'LA', 25, 4),
 (datetime.date(2021, 1, 1), 'LA', 22, 5),
 (datetime.date(2021, 1, 4), 'LA', 22, 6),
 (datetime.date(2021, 1, 2), 'LA', 21, 7),
 (datetime.date(2021, 1, 3), 'LA', 19, 8)]

In [45]:
%%sql
-- The ranking is now different. Notice the first two rows. On both days the temperature is 27, and both rows are ranked 1.

SELECT
  *,
  RANK() OVER (PARTITION BY city ORDER BY temperature desc) AS rn
FROM
  temperatures
WHERE
  city = 'LA'
ORDER BY
  rn;

*  postgresql://luis:***@localhost:5432/postgres
8 rows affected.

[(datetime.date(2021, 1, 6), 'LA', 27, 1),
 (datetime.date(2021, 1, 8), 'LA', 27, 1),
 (datetime.date(2021, 1, 5), 'LA', 25, 3),
 (datetime.date(2021, 1, 7), 'LA', 25, 3),
 (datetime.date(2021, 1, 1), 'LA', 22, 5),
 (datetime.date(2021, 1, 4), 'LA', 22, 5),
 (datetime.date(2021, 1, 2), 'LA', 21, 7),
 (datetime.date(2021, 1, 3), 'LA', 19, 8)]

In [46]:
%%sql
-- Ranking without gaps#

SELECT
  *,
  DENSE_RANK() OVER (PARTITION BY city ORDER BY temperature desc) AS rn
FROM
  temperatures
WHERE
  city = 'LA'
ORDER BY
  rn;

*  postgresql://luis:***@localhost:5432/postgres
8 rows affected.

[(datetime.date(2021, 1, 6), 'LA', 27, 1),
 (datetime.date(2021, 1, 8), 'LA', 27, 1),
 (datetime.date(2021, 1, 5), 'LA', 25, 2),
 (datetime.date(2021, 1, 7), 'LA', 25, 2),
 (datetime.date(2021, 1, 1), 'LA', 22, 3),
 (datetime.date(2021, 1, 4), 'LA', 22, 3),
 (datetime.date(2021, 1, 2), 'LA', 21, 4),
 (datetime.date(2021, 1, 3), 'LA', 19, 5)]

In [47]:
%%sql
-- Here is a query that demonstrates the differences between ROW_NUMBER, RANK, and DENSE_RANK:

SELECT
  *,
  ROW_NUMBER() OVER (PARTITION BY city ORDER BY temperature desc) AS row_number_,
  RANK() OVER (PARTITION BY city ORDER BY temperature desc) AS rank_,
  DENSE_RANK() OVER (PARTITION BY city ORDER BY temperature desc) AS dense_rank_
FROM
  temperatures
WHERE
  city = 'LA'
ORDER BY
  temperature DESC,
  day;

*  postgresql://luis:***@localhost:5432/postgres
8 rows affected.

[(datetime.date(2021, 1, 6), 'LA', 27, 1, 1, 1),
 (datetime.date(2021, 1, 8), 'LA', 27, 2, 1, 1),
 (datetime.date(2021, 1, 5), 'LA', 25, 3, 3, 2),
 (datetime.date(2021, 1, 7), 'LA', 25, 4, 3, 2),
 (datetime.date(2021, 1, 1), 'LA', 22, 5, 5, 3),
 (datetime.date(2021, 1, 4), 'LA', 22, 6, 5, 3),
 (datetime.date(2021, 1, 2), 'LA', 21, 7, 7, 4),
 (datetime.date(2021, 1, 3), 'LA', 19, 8, 8, 5)]